body {
  background-color: #dadbd3;
}
.app {
  background-color: #dadbd3;

  display: grid;
  place-items: center;
}

.appBody {
  display: flex;
  background-color: #ededed;

  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  margin-top: 25px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.appBody > .sidebar {
  flex: 30%;
}

.appBody > .chat {
  flex: 70%;
}