.chatName {
    background-color: white;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
      
}
.myLink{
    text-decoration: none;
    color: black;
}
.chatName > .chatAvatar {
    flex: 10%;
    padding: 5px;
  
    color: gray;
    
}

.chatName > .chatInfo {
    align-items: center;
    flex: 90%;
    border-bottom: 1px solid lightgray;
    
    margin: 5px;
    text-decoration: none;  
    
}
.chatName :hover {
    background-color: whitesmoke;

}
.chatName > .chatAvatar :hover {
   
    background-color: gray;
}

.chatInfo > p {
    width: 150px ;
    
    height: 20px;
 text-overflow: ellipsis;
 white-space: nowrap;
overflow: hidden
}