
.chatHeader 
{
    
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    margin-right: 20px;
}

.chatHeaderLeft {
    margin: 5px;
    color: #919191;
    display: flex;
}
.chatHeaderLeft > h4 {
    color: black;
    margin: 13px;
}
.chatHeaderRight {
    margin: 10px;
    
    
    
}
.chatHeader .MuiSvgIcon-root {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: #919191;
}

.chatBody {
    background-color: #ffdada;
    margin-right: 5px;
    height: 74vh;
    overflow-y: scroll;
}
.chatFooter{
    display: flex;
    justify-content: space-evenly;
    background-color: #ededed;
    margin-right: 20px;
    height: 8vh;
}

.chatFooter  .MuiSvgIcon-root {
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 20px;
    color: #919191;
}
.chatFooter > form {
    display: flex;
}
.chatFooter > form > .chatSearchBox {
    flex:90%;
    margin-top: 10px;
    width: 50vw;
    height: 7vh;
}
.chatFooter > form  > .formButton  {
    flex: 10%;
    margin-left: 15px;
    margin-top: 10px !important;
    margin-right: 25px;
    height: 7vh;
    color: #919100;
}

.chatFooter > form  > .formButton  > .MuiSvgIcon-root {
    margin-top: 7px !important;
}
.chatBodyBlank {
    background-color: #ffdada;
    margin-right: 5px;
    height: 74vh;
    overflow-y: scroll;
    display: grid;
    place-items: center;
}

