
.sidebarHeader 
{
    
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    margin-right: 20px;
}

.sidebarHeaderLeft {
    margin: 5px;
    color: #919191;
}
.sidebarHeaderRight {
    margin: 10px;
    
    
    
}
.sidebarHeader .MuiSvgIcon-root {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: #919191;
}
.sidebarSearch{
    flex: 60%;
    display: flex;
    margin-right: 10px;
}
.searchBox {
    border: none;
    
    flex: 0.95;
    height: 5vh;
}

.sidebarSearch > .MuiSvgIcon-root {
    background-color: white;
    padding-right: 20px;
    padding-left: 10px;
    flex: 0.05;
    height: inherit
}
.sidebarSearch  :hover {
    color: rgb(46, 43, 43);
}
.sidebarSearch {
    padding: 10px;
    border-radius: 25%;
    
   
}
.sidebarAdd {
    /* padding-left: 10px; */
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.sidebarChats {
    height: 70vh;
    background-color: white;
    overflow-y: scroll;
    margin-left: 10px;
    margin-right: 15px;
}